/* Allow users in wheel group to run calamares in GUI without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "com.github.calamares.calamares.pkexec.run" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
